.btn {
    border: none;
    background: rgb(172, 172, 26);
    padding: 6px 16px;
    font-size: 1rem;
    color: rgb(34, 31, 31);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 1px 1px black;
}

.btn:hover {
    /* color:black; */
    background: rgb(219, 219, 55);


}