.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color:rgb(28, 27, 27);
    color:rgb(230, 170, 19);

}
.footer-media{
    display: flex;
    align-items:center ;
    justify-content: center;
    gap: 40px;
}
.footer-container p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'IBM Plex Serif', serif;

}